.view-detail-card-link {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    border: 2px solid var(--c-primary-color);
    background-color: var(--c-primary-color);
    font-size: 18px;
    font-weight: 500;
    border-radius: 11px;
    transition: border 300ms ease-out;
}
.view-detail-card-link:hover {
    color: white;
    border-color: black;
}
.p-card-img {
    max-width: 225px;
    max-height: 333px;
}
.tyre-logo {
    max-width: 151px;
    max-height: 31px;
}