.view-detail-card-link {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    border: 2px solid var(--c-primary-color);
    background-color: var(--c-primary-color);
    font-size: 16px;
    border-radius: 11px;
    transition: border 300ms ease-out;
}

.view-detail-card-link:hover {
    color: white;
    border-color: black;
}

.p-card-img {
    max-width: 220px;
    max-height: 330px;
}

.p-card-img-sm {
    max-width: 175px;
    max-height: 259px;
}

.tyre-logo {
    max-width: 151px;
    max-height: 31px;
}

.tyre-logo-sm {
    width: 150px;
    height: 30px
}