.custom-form-lable {
    font-weight: 400;
    color: #5f7586;
    font-size: 17px;
}

.custom-form-control {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    height: 50px;
    padding: 10px 15px;
    font-size: 15px;
    max-width: 100%;
    vertical-align: baseline;
    outline: none;
    background-color: #eef1f3;
    color: #141412;
    border: none;
}

.check-place-order-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: right;
}

.check-place-order-wrapper button {
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin-right: 14px;
    outline: none;
    border-radius: 4px;
}

.checkout-items-list {
    display: block;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    padding: 20px;
    margin:10px 0;
}

.checkout-items-list tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* .checkout-items-list tr td {
    width: auto;
} */

.checkout-items-list img {
    max-width: 66px;
    max-height: 98px;
}

.bold-text {
    font-weight: 700;
    font-size: 24px;
}