#detials-section {
    padding-bottom: 40px;
}
#detials-section h2 {
    font-size: 48px;
    font-weight: 700;
}
.product-title {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 5px;
    line-height: 40px;
    color: #053f75;
}
.p-price {
    font-weight: 600;
    font-size: 23px;
}
.p-description {
    max-width: 60%;
    font-size: 20px;
    font-weight: 400;
}
.p-detail-cart-btn {
    padding: 20px 40px;
    text-transform: uppercase;
    line-height: 14px;
    font-weight: 700;
    color: white;
    background-color: var(--bs-primary);
    font-size: 14px;
    border: none;
    border-radius:10px;
    transition: background-color .4s;
}
.p-detail-cart-btn:hover {
    background-color: #053f75;
}
