#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    height: 80px;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    box-sizing: border-box;
    background-color: #E12319;
}

#header ul {
    list-style: none;
    margin-bottom: 0;
}
#header ul li {
    float: left;
    margin-left: 15px;
}
/* #header ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    background-color: #055097!important;
}
#header ul li a:hover,
#header ul li a.active {
    color: #055097;
} */
.navbar-logo {
    display: block;
    height: 80px;
    width: 254px;
}
#custom-nav .nav-link {
    font-size: 15px;
}
#custom-nav .nav-link.active {
    background-color: var(--c-primary-color);
    color: var(--bs-white);
    border-radius: 6px;
}