.cart-page-main {
    height: calc(100vh - 147px);
}
.cart-table {
    width: 100%;
    padding: 23px;
}

.cart-table td {
    padding: 24px;
}

.cart-table th {
    font-weight: 400;
    font-size: 18px;
    padding: 23px;
}

.table-header-border {
    border-top: 2px solid #E6E6E6;
    border-bottom: 2px solid #E6E6E6;
}

.cart-list-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 154.12%;
}

.cart-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    max-width: 263px;
}

.cart-counter-button {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    font-size: 22px;
}