.about-sm-banner {
    height: 329px;
    background-image: url("../../Assets//Images/about-header.png");
    background-size: cover;
    position: relative;
}

.about-sm-banner h5 {
    position: absolute;
    bottom: 40px;
    left: 116px;
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}
.about-pic {
    display: inline-block;
    max-width: auto;
}